html {
	margin: 0;
	padding: 0;
	background: url(../../images/IMG_0539.JPG) repeat-y;
	background-size: 100% auto;
}

body {
	background-color: transparent;
	font-family: 'Tangerine', fantasy;
}

#home {
	height: 95vh;
	margin: 5em;
	padding: 5em;
	background: url(../../images/IMG_0267.JPG) no-repeat;
	background-size: 100% auto;
  -webkit-filter: drop-shadow(16px 16px 10px rgba(0,0,0,0.9));
  filter: drop-shadow(16px 16px 10px rgba(0,0,0,0.9));
}

#info {
	height: 95vh;
	margin: 5em;
	padding: 5em;
	background: url(../../images/seats.jpg) no-repeat;
	background-size: 100% auto;
  -webkit-filter: drop-shadow(16px 16px 10px rgba(0,0,0,0.9));
  filter: drop-shadow(16px 16px 10px rgba(0,0,0,0.9));
}

#route {
	height: 95vh;
	margin: 5em;
	padding: 5em;
	background: url(../../images/kurfirsten.jpg) no-repeat;
	background-size: 100% auto;
  -webkit-filter: drop-shadow(16px 16px 10px rgba(0,0,0,0.9));
  filter: drop-shadow(16px 16px 10px rgba(0,0,0,0.9));
}

#stay {
	height: 95vh;
	margin: 5em;
	padding: 5em;
	background: url(../../images/roessli.jpg) no-repeat;
	background-size: 100% auto;
  -webkit-filter: drop-shadow(16px 16px 10px rgba(0,0,0,0.9));
  filter: drop-shadow(16px 16px 10px rgba(0,0,0,0.9));
}

#wishList {
	margin: 5em;
	padding: 5em;
}
	
#header {
	padding-top: 20px;
	height: 30%;
}

#left{
	font: bold normal 3em 'Tangerine', fantasy;
	float:left;
	padding-top: 7%;
	margin-left: 2.5em;
    color: #FFF;
}

#right {
	margin-left: 70%;
}

#wishlist {
	font: bold normal 3em 'Tangerine', fantasy;
	padding-left:25%;
	margin-top:-3.4em;
}

.infoText {
	font: bold normal 2.5em 'Tangerine', fantasy;
	margin-top: 30%;
	margin-left: 15%;
	float: left;
	color: #FFF;
	width:100%;
}
.infoText h1 {
	font: bold normal 3em 'Tangerine', fantasy;
	letter-spacing: 1px; 
	margin-top: 5%;
	margin-left: 15%; 
	text-align:left;
	color: #FFF;
	text-shadow: 2px 2px #0f0f0f;
}

h1 { 
	font: bold normal 4em 'Tangerine', fantasy;
	letter-spacing: 1px; 
	margin-top: 20%;
	margin-left: 32%; 
	color: #FFF;
	text-shadow: 2px 2px #0f0f0f;
}

#date {
	font: bold normal 3em 'Tangerine', fantasy !important;
	letter-spacing: 1px; 
	color: #FFF;
	text-shadow: 2px 2px #0f0f0f;
}

#infoTitle {
	margin-top: 30%;
	margin-left: 32%; 
}

#wishTitle {
	margin-top: 5%;
	margin-left: 32%; 
}

#wishlistInfo {
	font: bold normal 1em 'Tangerine', fantasy !important;
	letter-spacing: 1px; 
	color: #FFF;
	margin-top: 1%;
	margin-left: 32%; 
}

.checked {
	z-index: 1; 
	position:relative;
	margin-left: -6em;
	height: 10em;
	width: auto;
}

.articleDetail {
	padding-left:5%;
	font: normal normal 1.3em 'Tangerine', fantasy;
	letter-spacing: 1px; 
	color: #FFF;
}

.button{
	font: normal normal 1em 'Tangerine', fantasy;
	letter-spacing: 1px;
	color: #FFF;
	background-color: #4CAF50; /* Green */
    padding: 0em 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    border: 1em solid;
    border-radius: 2em;
	border-color: #4CAF50;
	margin-left:3em;
}
	
span {
	position:fixed;
	font: normal normal 0.7em 'Tangerine', fantasy;
	letter-spacing: 1px; 
	color: #FFF;
    bottom: 2px;
    right: 4px;
}

a {
	font: normal normal 'Tangerine', fantasy;
	letter-spacing: 1px; 
	color: #FFF;
	font-weight: bold; 
	text-decoration: underline; 
}

a:hover, a:focus, a:active {
	text-decoration: underline; 
	color: #FFF;
}

.backBtn{
	font-size: 2em;
}