<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Anreise</title>
	<link rel="icon" type="image/x-icon" th:href="@{images/fav.ico}" />
	<link rel="shortcut icon" type="image/x-icon" th:href="@{images/fav.ico}" />
	<meta http-equiv="refresh" content="120" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

    <script src="https://code.jquery.com/jquery-latest.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>	   
	<link rel="stylesheet" type="text/css" th:href="@{/assets/css/app.css}" /> 
	<link rel="stylesheet" type="text/css" th:href="@{/assets/css/hearts.css}" />
	<link rel="apple-touch-icon" th:href="@{images/favicon.ico}"/>
	<link rel="icon" type="image/x-icon" th:href="@{images/favicon.ico}" />
	<link rel="shortcut icon" type="image/x-icon" th:href="@{images/favicon.ico}" />
</head>

<body id="stay">
	<div class="container">
		<div class="infoText">
			<h1>Übernachtung</h1>
			<p>Wer von weit her kommt oder einfach nach dem Abendessen länger bleiben möchte, der kann das<br/> mit einer Übernachtung im Hotel Rössli tun.</p>
			<p>Alle Zimmer vom Hotels stehen für die Hochzeitsgesellschaft zur Verfügung, es gilt "der Schneller <br/>
			isch der Gschwinder".</p>
			<br/>
			<br/>
			<p>Reservationen werden gerne per E-Mail entgegen genommen:</p> 
			<p>daniel@oechslin.eu (Bräutigam)</p>
		</div>
		<a class="backBtn" href="/info">Zurück</a>
		<span>Hotel Restaurant Rössli 2014</span>
	</div>
</body>
</html>